body {
	font-size: 16px;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	background-image: linear-gradient(45deg, #e1e1e1, #f6f6f6);
	color: #313131;
}

.rafa-teixeira {
	font-size: 2.3em;
	font-weight: bold;
	text-transform: uppercase;
}
.sub__rafa-teixeira {
	font-size: 1.175em;
	margin: 0 0 3px 0;
	text-transform: uppercase;
	opacity: .8;
}

.provisorio {
	text-align: justify;
	line-height: 1.5em;
	opacity: .8;
}

.provisorio span {
	float: right;
	font-size: .875em;
	font-style: italic;
}

.contato {
	color: #666666;
	font-size: 1em;
}

.contato:active,
.contato:focus,
.contato:hover {
	color: #313131;
	text-decoration: none;
}

.contato .fa {
	margin-right: 10px;
}
